/* public/css/navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.navbar-logo img {
    height: 40px;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-links li a:hover {
    color: #ddd;
}
